
<span data-route="about" id="myurl"></span>
  <section class="page-title-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title text-center">
            <h1>About us</h1>
          </div>
          <div class="breadcrumbs-area  text-center">
            <ol class="breadcrumbs">
              <li><a href="/#/">Home</a></li>
              <li class="active">About us</li>
            </ol>
          </div>
          <div class="back-home">
            <a routerLink="/"><i class="fa fa-arrow-left"
                aria-hidden="true"></i> BACK TO HOME</a>
          </div>
        </div>
      </div>
    </div>
  </section>


<section class="help-us-area pt-80 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title-style-two text-center">
          <div class="section-title text-center">
            <h2>Our Mission <span>& Vision</span></h2>
            <img src="../../assets/img/title-bottom.png"
              alt="">
          </div>
          <p>
          Empowerment of Nigerian children through the provision of quality education.
          Provision of free health care services to rural dwellers.
          Empowerment of unemployed persons with vocational and technical skills to enable them become self employed.
          Promotion of agricultural development and social responsibility.
          Provision of welfare services to the disadvantaged.

          </p>
        </div>
      </div>
    </div>

  </div>
</section>

          <section class="about-content-area pt-90 pb-60 minustop">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="about-content">
                    <!-- Start section title -->
                    <div class="section-title text-center">
                      <h2>About <span>Us</span></h2>
                      <img src="../../assets/img/title-bottom.png"
                        alt="">
                    </div>
                    <!-- End section title -->
                    <p style="text-align: justify;">
                        The Chidi Anyaegbu Foundation founded by Chief Dr. Chidi Anyaegbu in the year 2016 is a duly registered non-governmental
                        organization. It is an organization established to assist the less privileged in a country where most of the citizens
                        continue to suffer untold hardship.

                     </p>

                     <p style="text-align: justify;">
                          The foundation was formed due to the fact that the founder was not born with a silver spoon in his mouth. This fact
                          prevented him from furthering his education as a child. Hence, he took to apprenticeship after his primary school
                          education.
                     </p>

                     <p  style="text-align: justify;">
                        Having passed through some difficult times during his youth and now blessed by God, he has vowed to help children and
                        young people especially those from poor family backgrounds. He intends to help them acquire quality education and other
                        social benefits.
                     </p>




                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-image">
                    <img src="../../assets/img/about/about-image.jpg"
                      alt="">
                  </div>
                </div>
              </div>
            </div>
          </section>


        <section class="video-and-skil-area pb-90">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="about-video">
                  <img src="../../assets/img/about/video-image.jpg"
                    alt="">
                  <a class="popup-youtube"
                    href="javascript:;"></a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-skill-text text-center">
                  <div class="section-title text-center">
                    <h2>Our <span>Achievements</span></h2>
                    <img src="../../assets/img/title-bottom.png"
                      alt="">
                  </div>
                 <ul style="list-style: circle;text-align: justify;">
                    <li style="margin-bottom:20px">The construction of an ultra modern building at the Department of Transportation Studies, Nnamdi Azikiwe University,
                    Awka, Anambra State.</li>
                    <li style="margin-bottom:20px"> The sponsorship of an annual Free Medical Mission for the people of Amichi Community in Anambra State and beyond.</li>
                    <li style="margin-bottom:20px"> The establishment of a scholarship scheme for students in secondary and tertiary institutions in Amichi and its
                    environs.</li>

                 </ul>
                </div>

              </div>
            </div>
          </div>
        </section>


<section class="help-us-area pt-80 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title-style-two text-center">
          <div class="section-title text-center">
            <h2>About The  <span>Founder</span></h2>
            <img src="../../assets/img/title-bottom.png"
              alt="">
          </div>
          <p style="text-align: justify;">
            Chief Dr. Chidi Anyaegbu is a Nigerian businessman and transport mogul. He is the founder and owner of Chisco Group
            Limited and Havila Air. Chief Dr. Chidi Anyaegbu was born on September 13, 1956 in Amichi, Nnewi South Local Government
            Area of Anambra State.

          </p>

          <p style="text-align:left;font-weight: 900;margin-top: 50px;">
            EDUCATIONAL BACKGROUND
          </p>
          <p style="text-align: justify;">
          Chief Dr. Chidi Anyaegbu obtained his First School Leaving Certificate from St. Andrew`s Primary School, Amichi, Nnewi
          in 1971. He attended several Management and Entrepreneurial courses in France, USA, Brazil, Germany, and the United Kingdom. In 1996, Chidi Anyaegbu was conferred with a Doctorate Degree in Business Administration (Honoris Causa) by Penn State
          University, USA.
          </p>

          <p style="text-align:left;font-weight: 900;margin-top: 50px;">
            CAREER AND BUSINESS
          </p>
          <p style="text-align: justify;">
          Chidi Anyaegbu is the founder and CEO of Chisco Group; a conglomerate sprung across transportation, oil and gas,
          finance, hospitality, real estate, import and export. He ventured into business in 1975 after he was given One Hundred and Twenty Naira (#120.00) by his uncle Daniel Ofodum
          after 4 years apprenticeship. He sold spare parts at the spare parts market at Ebute Metta in Lagos. In 1981, he started Chisco Transport Nigeria Ltd
          and subsequently diversified into oil and gas, hospitality, courier, real estate and other companies.
          </p>

        <p style="text-align:left;font-weight: 900;margin-top: 50px;">
          Chisco Group has subsidiaries which include:
        </p>
     <div>
        <ul class="list-inline" style="text-align: left;">
          <li>Chisco Transport Nigeria Limited</li>
          <li>CTN Express Ltd.</li>
          <li>Villa Angelia Guest House</li>
          <li>Angel Park Palace Hotel</li>
          <li>Havillah Oil</li>
          <li>Base Bureau De Change</li>
          <li>Chisco Haulage and Keenline Investment</li>
          <li>Havillah Airways</li>
        </ul>

     </div>
      <p style="text-align:left;font-weight: 900;margin-top: 50px;">
        AWARDS AND RECOGNITIONS:
      </p>

          <div>
            <ul style="text-align: left;list-style: circle;">
              <li>Chidi Anyaegbu is a fellow of the Chartered Institute of Logistics and Transport (International), London.</li>
              <li>He is an honorary fellow of the Institute of Internal Auditors of Nigeria.</li>
              <li>He was conferred with the Member of the Order of the Federal Republic(MFR) and the Distinguished Leadership Award by the
              Police Community Relations Committee, Zone 7 of the Nigerian Police.</li>
              <li>Chief (Dr) Chidi Anyaegbu is a recipient of the National Merit Award in Transport at the Institute of International
              Auditors of Nigeria.</li>
              <li>The traditional title of Okeiyi Amichi was conferred on him for his benevolence.</li>

            </ul>

          </div>

<p style="text-align:left;font-weight: 900;margin-top: 50px;">
 PERSONAL LIFE
</p>
<p style="text-align: justify;">
  Chief Chidi Anyaegbu is married to Ngozi Anyaegbu with Children.
</p>

<p style="text-align:left;font-weight: 900;margin-top: 50px;">
FAVOURITE QUOTES:
</p>
    <div>
      <ul style="text-align: left;list-style: circle;">
        <li>Whatever you do, just don`t quit, don`t mind the obstacles on your way. Keep pushing until you achieve your purpose.</li>
        <li> Money is in the hands of public. The quality and type of product you offer to the public determines the money you will
        receive in return.</li>


      </ul>

    </div>


        </div>
      </div>
    </div>

  </div>
</section>
