.mybene {

  font-size: 20px !important;
  color: #000000 !important;
  font-weight: 700 !important;
}

.subbene {

  font-size: 15px !important;
  color: #3e3e3e !important;
  font-weight: 400 !important;
}
